html,
body {
  margin: 0;
  padding: 0;
  background: #333;
  touch-action: auto;
  overflow-x: hidden
}

* {
  box-sizing: border-box;
}

#container {
  background: #333;
}

#boardbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 0;
}

#board {
  display: grid;
  border-radius: 5px;
  overflow: hidden;
}

.square {
  width: 20px;
  height: 20px;
}

.light {
  background: #ddd;
}

.dark {
  background: rgb(58, 121, 47);
}

.piece {
  position: absolute;
  margin: 0px;
  padding: 0px;
  display: block;
  overflow: hidden;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  /*border: 1px solid;  */
  z-index: 1;
  transition: transform .05s;
  -webkit-transition: transform .05s;
  -moz-transition: transform .05s;
  -ms-transition: transform .05s;
  -o-transition: transform .05s;
}

/* .piece:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
} */

.grabbing {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  z-index: 2;
}